pyyml
python-dotenv
readerwriterlock
cryptography
fastapi
nicegui
pandas
chardet
requests
psutil



pyodbc
sqlalchemy
pydantic
ollama
openai
anthropic

multimethod
pypdf
fastembed
asgiref
httpx
pymupdf
sentence_transformers

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-openai

langchain-ollama
langchain_experimental
langchain-docling

chromadb
google-generativeai
